body {
    font-family: "JetBrainsMono-Medium";
}

body, html {
    height: 100%;
}

ul, ol {
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    background: transparent;
    color: #333;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 100%;
}

a:visited {
    color: #333;
}

a:hover, a:focus {
    color: #5cb9ff;
    text-decoration: none;
    cursor: pointer;
}

img, svg {
    vertical-align: top;
}

::-webkit-scrollbar-track {
    background: rgb(238, 238, 238);
}

::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.content {
    padding-right: 10px;
}

.toc-content-heading, .u-divider {
    display: none;
}


.pd150 {
    padding: 0 200px;
}

.mgb10 {
    margin-bottom: 10px;
}

.mgb50 {
    margin-bottom: 50px;
}

.mgt10 {
    margin-top: 10px;
}

.mgt20 {
    margin-top: 20px;
}

.pgt10 {
    padding-top: 10px;
}

.mgb100 {
    margin-bottom: 100px;
}

.mgr10 {
    margin-right: 10px;
}

.mgr20 {
    margin-right: 20px;
}

.bg {
    /*background-color: #f5f5f5;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;
}

.brsd {
    border-right: 1px solid #ddd;
}

.brsdh {
    border-right-color: transparent;
}

.bbsd {
    border-bottom: 1px solid #ddd;
}

.copy-button {
    color: #909399;
    border: none;
    background: #f0f8ff;
    transition: .2s;
}

.copy-button:hover {
    color: var(--el-text-color-primary);
}